# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Power BI temporary files
*.pbix.autosave
*.tmp

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Logs
*.log
